-==MsgInCodePageDefault==-
{Tag:MsgInCodePageDefault}
-==MsgInCodePageUTF8==-
{Tag:MsgInCodePageUTF8}
-==MsgInCodePageUTF7==-
{Tag:MsgInCodePageUTF7}
-==MsgInCodePageUTF32==-
{Tag:MsgInCodePageUTF32}
-==MsgInCodePageUnicode==-
{Tag:MsgInCodePageUnicode}
-==MsgInCodePage866==-
{Tag:MsgInCodePage866}
-==MsgInCodePage850==-
{Tag:MsgInCodePage850} 
-==MsgInCodePage1251==-
{Tag:MsgInCodePage1251}